.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 50px;
    background-color: rgb(167, 230, 255);
    margin: 50px auto;
    gap:5px;
    border-radius: 10px;

}

input{
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}

button{
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: mediumaquamarine;
    transition: 0.8s;
}