.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(192, 233, 240, 0.801);
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}